---
import { Image } from "astro:assets";
import LinkButton from "./LinkButton.astro";

interface Props {
  title: string;
  url: string;
  image: string;
  description: string;
  date: string;
}
const { title, description, url, date, image } = Astro.props;
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-red-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-slate-300">
        <a href={url} target="_blank">{title}</a>
      </h3>
      <time class="p-0 m-0 text-sm text-gray-400">{date}</time>
      <a href={url} target="_blank">
        <Image
          alt={title}
          src={image}
          class="h-55 w-full object-cover rounded-lg"
          width={309}
          height={176}
          decoding="async"
          loading="lazy"
        />
      </a>
    </div>
  </div>
  <div
    class="relative flex flex-col gap-2 pb-4 pt-6 text-gray-300 md:col-span-3"
  >
    {description}
    <LinkButton href={url}> Leer más... </LinkButton>
  </div>
</div>
