---
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import { basics } from "datos.json";
import Book from "./icons/Book.astro";
const { name, avatar, image, newsletter, urlLinkedin, email } = basics
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-32 w-32 aspect-square object-cover border-4 border-red-400"
      src={avatar}
      alt={name}
    />
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight sm:text-5xl text-white"
  >
    Hola, soy Guido
  </h1>
  <p class="mt-6 text-xl [&>strong]:text-red-300 [&>strong]:font-semibold text-gray-300">
    Nombrado <strong><em class="italic">TOP HR INFLUENCER 2024 & 2025</em></strong> en Argentina por <strong>Go integro</strong>.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href={urlLinkedin}>
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href={newsletter}>
      <Book class="size-4" />
      Newsletter
    </SocialPill>
    <SocialPill href={email}>
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
  </nav>
</div>
