---
import { Image } from "astro:assets";
import { basics, videos } from "datos.json";
import YouTube from "./icons/YouTube.astro";
import SocialPill from "./SocialPill.astro";
const { urlYoutube } = basics

---

<section class="max-w-screen-lg px-4 mx-auto pb-12 sm:px-6 lg:px-8">
  <div class="mb-8 text-gray-300">
    Mira más sobre mi contenido en
    <SocialPill href={urlYoutube}>
      <YouTube class="size-4" />
      YouTube
    </SocialPill>
  </div>
    <ul
      class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4 lg:mx-0 lg:max-w-none lg:grid-cols-3 text-white"
    >
      {
         videos.map((video) => (
          <li>
            <a
              href={ video.url ? `${video.url}` : `https://www.youtube.com/watch?v=${video.videoId}`}
              target="_blank"
              class="relative top-0 block overflow-hidden rounded-2xl"
            >
              <figure>
                <Image
                  alt={video.title}
                  src={video.image ? `${video.image}` : `https://i.ytimg.com/vi/${video.videoId}/maxresdefault.jpg`}
                  class="h-55 w-full object-cover"
                  width={309}
                  height={176}
                  decoding="async"
                  loading="lazy"
                />
              </figure>
              <div class="bg-red-900 p-4">
                <span class="text-sm">{video.channelTitle}</span>
                <p class="mt-1 text-xs text-slate-400 h-8">{video.title}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>